@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');

//VARIABLES
$textocolor-principal: #365B75;
$textocolor-secundario: #F0F0F0;
$textocolor-terceario: #0D0D0C;
$footer-color: #011526;
$texto-principales: "Noto Sans", sans-serif;
$texto-secundario: "Overpass", sans-serif;
